<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
<div class="menu">
        <a href="/book">Book a Parking Spot</a>
        <a href="/pay-now">Pay-now</a>
        <a href="/my-bookings">My Bookings</a>
        <a href="/rent-space">Rent Out Your Space</a>
        <a href="/help">Help</a>
        <a href="/login" class="login-button">Login</a>
        <a href="/signup" class="signup-button">Signup</a>

    </div>
    
    
